{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field--items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field--item') }}>
          <div class="image-wrapper">
            <label class="image-select-wrapper" for="image-{{ item.content['#item'].entity.fid.value }}">
              <img class="loading" src="../themes/photographie_theme/images/loading.gif" data-src="{{ attribute(photographie_theme_image_unexpanded, item.content['#item'].entity.fid.value) }}" />
              <input id="image-{{ item.content['#item'].entity.fid.value }}" class="image-selection-box" type="checkbox" name="image-{{ item.content['#item'].entity.fid.value }}" value="{{ item.content['#item'].entity.uri.value }}" />
            </label>
            <a class="popup-image-expand" href="{{ attribute(photographie_theme_image_expanded, item.content['#item'].entity.fid.value) }}"><i class="expand-icon fa fa-search-plus" aria-hidden="true"></i></a>
          </div>

        </div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field--item') }}>

        <div class="image-wrapper">
          <label class="image-select-wrapper" for="image-{{ item.content['#item'].entity.fid.value }}">
            <img class="loading" src="../themes/photographie_theme/images/loading.gif" data-src="{{ attribute(photographie_theme_image_unexpanded, item.content['#item'].entity.fid.value) }}" />
            <input id="image-{{ item.content['#item'].entity.fid.value }}" class="image-selection-box" type="checkbox" name="image-{{ item.content['#item'].entity.fid.value }}" value="{{ item.content['#item'].entity.uri.value }}" />
          </label>
          <a class="popup-image-expand" href="{{ attribute(photographie_theme_image_expanded, item.content['#item'].entity.fid.value) }}"><i class="expand-icon fa fa-search-plus" aria-hidden="true"></i></a>
        </div>

      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field--item') }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
