{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
    'private-photos'
  ]
%}

{{ attach_library('photographie_theme/image-selector') }}
{{ attach_library('photographie_theme/masonry') }}

<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('content') }}>
    <!-- raw images -->
    <h2>Original images:</h2>
    <p>Select images you would like to order prints for, or download them for yourself!</p>

    <form id="private-images" action="mailto:jake.ryan@accessadvertising.co.uk" method="post">
      <div class="raw-images">
        <fieldset class="grid">
          {{ content['field_raw_images'] }}
        </fieldset>
      </div>

      <div id="fixed-bottom">
        <div class="selected-wrapper">
          <h2><span id="num-selected">0</span> images selected</h2>
          <a class="popup-with-form" href="#popup-form">Next</a>
        </div>
      </div>

      <div id="popup-form" class="mfp-hide">
          <div class="popup-selected">
            <!-- window for displaying selected images -->
          </div>
          <fieldset class="popup-fields">
            <textarea rows="4" cols="50" name="description" form="private-images" placeholder="Enter description..."></textarea>
            <input id="send" type="submit" value="Send" />
          </fieldset>
      </div>

    </form>

  </div>
</article>
